.header-container {
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #520e00;
    font-size: 1.5rem;
}

.header-container .header-logo {
    height: inherit;
}

.header-container .header-logo img {
    height: inherit;
}